<div class="row">

  <div class="col-xs-12 content-head">
    <h3>User Settings</h3>
  </div>

  <div *ngIf="user" class="col-xs-12">
    <form class="form-horizontal" (ngSubmit)="saveUserInfo()" #updateUserInfoForm="ngForm">
      <fieldset>
        <legend>Settings</legend>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control" [(ngModel)]="user.email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Username</label>
          <div class="col-sm-9">
            <input type="text" name="name" class="form-control" [(ngModel)]="user.name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-2">
            <button type="submit" class="btn btn-primary form-control">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div *ngIf="user" class="col-xs-12">
    <form class="form-horizontal" (ngSubmit)="saveUserPassword()" #updateUserPassForm="ngForm">
      <fieldset>
        <legend>Password</legend>
        <div class="form-group">
          <label class="col-sm-3 control-label">Current Password</label>
          <div class="col-sm-9">
            <input type="password" name="password" class="form-control" [(ngModel)]="currentPassword">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">New Password</label>
          <div class="col-sm-9">
            <input type="password" name="newPassword" class="form-control" [(ngModel)]="newPassword">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Confirm New Password</label>
          <div class="col-sm-9">
            <input type="password" name="newPasswordConf" class="form-control" [(ngModel)]="newPasswordConfirm">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-2">
            <button type="submit" class="btn btn-primary form-control">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

</div>