:host {
  display: block;
}
.form-horizontal .control-label {
  text-align: left;
}
.thumbnail {
  position: relative;
}
.thumbnail > .edit-upload-pic{
  position: absolute;
  bottom: 10px;
  right: 10px;
}