<div class="row">
  <div class="col-xs-12 content-head">
    <h3>Products</h3>
    <a class="btn btn-primary" [routerLink]="['/products/new']">
      <span class="glyphicon glyphicon-plus"></span> ADD PRODUCT
    </a>
  </div>
  <div *ngIf="products" class="col-xs-12">
    <div class="row">
      <div *ngFor="let product of products" class="col-xs-6 col-sm-4 col-md-3">
        <product-thumb-admin [product]="product" ></product-thumb-admin>
      </div>
    </div>
  </div>
  <div *ngIf="products && pageCount > 1" class="col-xs-12">
    <nav aria-label="...">
      <ul class="pager">
        <li *ngIf="page > 1"><a href="#" (click)="onPrev($event)">Previous</a></li>
        <li *ngIf="page != pageCount"><a href="#" (click)="onNext($event)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
