<div *ngIf="product" class="row">
  <div class="col-xs-12 content-head">
    <h3>New Product</h3>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">
      <img src="/images/products/{{product.pictures[0]}}">
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <form class="form-horizontal" (ngSubmit)="createProduct()" #createProductForm="ngForm">
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" name="productName" class="form-control" [(ngModel)]="product.name">
        </div>
      </div>
      <div class="form-group" *ngFor="let price of product.prices; let isFirst = first;">
        <label *ngIf="isFirst" class="col-sm-3 control-label">Price</label>
        <div [ngClass]="{'col-sm-9': true, 'col-sm-offset-3': !isFirst}">
          <input type="text" name="productPrice{{price.currency}}" class="form-control" placeholder="{{price.currency}}" [(ngModel)]="price.value">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Brand</label>
        <div class="col-sm-9">
          <input type="text" name="productBrand" class="form-control" [(ngModel)]="product.brand">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Flags</label>
        <div class="col-sm-9">
          <input type="text" name="productFlags" class="form-control" [(ngModel)]="flags">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Picture</label>
        <div class="col-sm-9">
          <input type="file" name="productPicture" (change)="onChange($event)">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="productDisplayed" [(ngModel)]="product.displayed"> Show Product
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="productDescription" rows="3" [(ngModel)]="product.description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button type="submit" class="form-control btn btn-default">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>