<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header text-center">
        <h3>PRODUCTS</h3>
      </div>
    </div>
    <div *ngIf="products" class="col-xs-12">
      <div class="row">
        <div *ngFor="let product of products" class="col-xs-6 col-sm-4">
          <product-thumb [product]="product" ></product-thumb>
        </div>
      </div>
    </div>
    <div *ngIf="products && pageCount > 1" class="col-xs-12">
      <nav aria-label="...">
        <ul class="pager">
          <li *ngIf="page > 1"><a href="#" (click)="onPrev($event)">Previous</a></li>
          <li *ngIf="page != pageCount"><a href="#" (click)="onNext($event)">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>