<nav *ngIf="session && session.login" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/dashboard']">
        <img alt="Marlgarette" src="/images/logo.png"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/products']">Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="session && session.login" mrDropdown class="dropdown">
          <a  mrDropdownToggle href="#" class="dropdown-toggle">
            {{session.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/users/settings']">Settings</a></li>
            <li><a href="#" (click)="logout($event)">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>