:host {
  display: block;
  position: relative;
  z-index: 999;
}
.navbar-store {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar.navbar-store {
  border: 0;
  border-radius: 0;
}
.navbar-header {
  background-color: #000;
  float: none;
}
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-brand {
  float: none;
  height: initial;
  text-align: center;
}
.navbar-brand > img {
  height: 100px;
  display: inline;
}
.navbar-center  {
  text-align: center;
}
.navbar-center .navbar-nav {
  float: none;
}
.navbar-center .navbar-nav li {
  display: inline-block;
  float: none;
}
.nav.navbar-nav > li > a {
  color: #fff;
}
.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:focus {
  color: #aaa;
  background-color: transparent;
}