<nav class="navbar navbar-store">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header">
        <div class="navbar-brand">
          <img alt="Marlgarette" src="/images/logo.png"/>
        </div>
      </div>
      <div class="collapse navbar-collapse navbar-center">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['/store']">Store</a></li>
          <li><a [routerLink]="['/size-chart']">Size Chart</a></li>
          <li><a [routerLink]="['/about']">About Us</a></li>
          <li><a [routerLink]="['/contact']">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>