<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>MARLGARETTE - Web Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <app>Loading web app...</app>
  </body>
  <script src="/javascripts/polyfills.js"></script>
  <script src="/javascripts/vendor.js"></script>
  <script src="/javascripts/store-app.js"></script>
</html>
