:host {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 30px 0;
  background-color: #222;
  color: #fff;
}
.footer-social-media {
  padding-left: 0;
  margin-bottom: 20px;
}
.footer-social-media li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.footer-social-media a {
  color: #fff;
}
:host p {
  margin-bottom: 0;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
}