<div *ngIf="product" class="thumbnail">
  <a>
    <img src="/images/products/{{product.pictures[0]}}">
    <a [routerLink]="[ '/products', product._id ]" class="btn btn-primary btn-product">EDIT PRODUCT</a>
  </a>
  <div class="caption">
    <h3 class="text-center">{{product.name}}</h3>
  </div>
</div>