<div *ngIf="product" class="thumbnail">
  <img src="/images/products/{{product.pictures[0]}}">
  <div class="caption">
    <h3 class="text-center">{{product.name}}</h3>
    <p class="text-center">
      <span *ngFor="let price of product.prices; let isFirst = first;">
        {{!isFirst ? '|' : ''}} {{price.currency}} {{price.value}}
      </span>
      </p>
  </div>
</div>