:host {
  display: block;
}
.thumbnail > a {
  display: block;
  position: relative;
}
.thumbnail > a:hover > .btn-product {
  display: block;
}
.btn-product {
  display: none;
  position: absolute;
  top: 70%;
  left: 14%;
  width: 72%;
}