<div *ngIf="images && images.length" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li *ngFor="let item of images; let i = index;" [ngClass]="{ active: i === cursor }" (click)="jump(i)"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div *ngFor="let item of images" class="item" [ngClass]="item.className" >
      <img src="/images/{{item.url}}">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#" role="button" (click)="prev($event)">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#" role="button" (click)="next($event)">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>