:host {
  display: block;
}
.item {
  display: block;
  width: 100%;
}
.carousel-indicators li {
  margin: 3px;
}
.carousel-indicators .active {
  margin: 2px;
}
.carousel-inner > .item > img {
  width: 100%;
}
