@import "../../node_modules/bootstrap/less/bootstrap.less";

html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 160px;
  min-height: 100%;
}
.content-head {
  margin-bottom: 20px;
}