<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header text-center">
        <h3>CONNECT WITH US</h3>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>CONCEPT STORE</h4>
      <p>Jl. Raya Karangtawang 181<br>Karangtawang - Kuningan<br>West Java, Indonesia</p>
      <p>Phone: +68 96 7275 4546<br>Email: info@marlgarette.com </p>
    </div>
    <div class="col-xs-6">
      <h4>WHOLESALE</h4>
      <p>Wholesale inquiries:</p>
      <p>Email: info@marlgarette.com<br>SMS: +68 96 7275 4546</p>
    </div>
    <div class="col-xs-12">
      <h4>HOW TO ORDER</h4>
      <p>Send a text message to our marketing (pick one)</p>
      <p>
        SMS: +68 96 7275 4546<br>
        WhatsApp: +68 96 7275 4546<br>
        Blackberry Messanger: 5E47EE0F // 5267E947<br>
        LineID: @marlgarette<br>
        Email: order@marlgarette.com
      </p>
      <p>
        with format:<br>
        Name / Phone number / Shipping address / Code / Size / Quantity
      </p>
    </div>
  </div>
</div>