<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header text-center">
        <h3>SIZING CHART <small>IN US INCH</small></h3>
      </div>
    </div>
    <div class="col-md-12">
      <div class="page-header sm-page-header">
        <h5>GIRLS</h5>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>TOPS</th> <th>XS</th> <th>S</th> <th>M</th> <th>L</th> <th>XL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">BUST</td> <td>30-32</td> <td>32-34</td> <td>34-36</td> <td>36-38</td> <td>40-42</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>BOTTOMS</th> <th>24W</th> <th>26W</th> <th>28W</th> <th>30W</th> <th>32W</th> <th>32W</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"></td> <td>2</td> <td>4</td> <td>6</td> <td>8</td> <td>10</td> <td>12</td>
          </tr>
          <tr>
            <td scope="row">NATURAL WAIST</td> <td>22-24</td> <td>-24-26</td> <td>26-28</td> <td>28-30</td> <td>30-32</td> <td>32-34</td>
          </tr>
          <tr>
            <td scope="row">HIPS</td> <td>30-32</td> <td>32-34</td> <td>34-36</td> <td>36-38</td> <td>38-40</td> <td>40-42</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <div class="page-header sm-page-header">
        <h5>GUYS</h5>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>TOPS</th> <th>XS</th> <th>S</th> <th>M</th> <th>L</th> <th>XL</th> <th>XXL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">CHEST</td> <td>34-36</td> <td>36-38</td> <td>38-40</td> <td>40-42</td> <td>42-44</td> <td>44-46</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>TOPS</th> <th>XS</th> <th>S</th> <th>M</th> <th>L</th> <th>XL</th> <th>XXL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">WEIST</td> <td>28-30</td> <td>30-32</td> <td>32-34</td> <td>34-36</td> <td>36-38</td> <td>38-40</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>