<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header text-center">
        <h3>ABOUT</h3>
      </div>
    </div>
    <div class="col-md-12">
      <div class="thumbnail">
        <img src="/images/surf-womens-feature-f16-leila-800x400.jpeg" alt="marlgarette">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent felis mi, lobortis ut eleifend at, porta in leo. Pellentesque quis tincidunt sem, non auctor tortor. Nam a purus fringilla, rutrum lectus eget, imperdiet turpis. Vestibulum convallis nulla et tincidunt suscipit. Quisque interdum lorem vel mi placerat, eget dignissim odio facilisis. Quisque sem est, ullamcorper eget semper rutrum, condimentum non tellus. Phasellus id arcu elit. Mauris vel fermentum ipsum. Aliquam quis scelerisque dolor, sit amet eleifend neque.</p>
      <p>Morbi pulvinar, orci id condimentum vulputate, dolor nisl venenatis diam, a sodales dui mi nec risus. Suspendisse a est sed risus viverra semper ac eget ipsum. Suspendisse volutpat tempus bibendum. Morbi vel massa quis lectus sagittis imperdiet nec consectetur purus. Praesent vitae tortor purus. Duis imperdiet ex sit amet mauris tincidunt, nec lacinia tortor consequat. Nullam quis facilisis nulla, id commodo lacus. Ut facilisis commodo imperdiet. In lectus velit, viverra nec orci at, vulputate tincidunt lectus. Nullam ullamcorper placerat eros, vitae bibendum tellus porta sed. Aliquam tincidunt eu mi eu congue. Curabitur bibendum lorem et nulla cursus mattis. Mauris vestibulum metus sed neque viverra ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras vel efficitur libero, id malesuada lacus.</p>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ut cursus justo, quis posuere odio. Nam faucibus massa ullamcorper metus faucibus, vitae convallis erat gravida. Donec ac cursus augue, vitae interdum lectus. Nullam eu tristique odio. Nulla sed elementum diam, sit amet lobortis ante. Donec ultricies lacus vitae erat gravida pretium. Sed volutpat at nunc a fermentum. Ut sed nisl massa. Nullam condimentum nibh nec feugiat hendrerit.</p>
      <p>Cras convallis tincidunt ante, at viverra est fermentum at. Integer sit amet libero id risus condimentum condimentum. Aliquam dignissim lacus non sem blandit congue. Fusce sapien ligula, bibendum sed rhoncus sit amet, tempor sed enim. Aenean aliquet aliquet mauris nec convallis. Donec nisi dolor, rutrum rutrum gravida eu, fringilla in turpis. Nullam facilisis aliquet elit ut dictum. Cras eu odio vel dui efficitur vehicula. Donec in lorem rhoncus, eleifend neque quis, placerat risus. Vestibulum et lectus dolor. Vestibulum malesuada gravida nunc vitae consequat.</p>
      <p>Maecenas lacus magna, euismod et eros nec, eleifend gravida neque. Nullam ipsum arcu, placerat sollicitudin nulla ut, maximus tristique augue. Pellentesque laoreet eget erat vitae viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim, elit eu consequat maximus, felis dui auctor ex, nec efficitur nunc justo sed sem. Donec congue ac magna et semper. Mauris erat erat, suscipit in elit ut, porttitor dapibus dui. Maecenas vitae elit fringilla, tincidunt erat non, imperdiet diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus volutpat nunc sit amet quam malesuada, sed condimentum nulla rutrum. Praesent a sapien cursus purus maximus semper ut id orci. Morbi rutrum gravida ante eget suscipit. Nunc auctor, nisi eget rhoncus mollis, diam velit volutpat diam, eu dictum ipsum massa sit amet tortor. Nam malesuada euismod tempor. Praesent congue vel sem et venenatis. Aenean posuere auctor turpis.</p>
    </div>
  </div>
</div>