<carousel [images]="carouselImages"></carousel>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center page-header">
        <h3>New Items</h3>
      </div>
      <div class="row">
        <div *ngFor="let product of newProducts" class="col-xs-6 col-sm-4">
          <product-thumb [product]="product" ></product-thumb>
        </div>
      </div>
    </div>
  </div>
</div>