<form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
  <h2 class="form-signin-heading">Marlgarette</h2>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" [(ngModel)]="username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>